<!DOCTYPE html>
<html lang="en">
{% extends "base.html" %}
<!-- Services Start -->
{% block content %}
<div class="container-fluid py-5">
    <div class="container">
        <div class="text-center mx-auto mb-5" style="max-width: 500px;">
            <h5 class="d-inline-block text-primary text-uppercase border-bottom border-5">Activities</h5>
        </div>
        {% if user.is_superuser %}
        <div class="row g-5">
            <div class="col-lg-4 col-md-6">
                <div class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center">
                    <div class="service-icon mb-4">
                        <i class="fa fa-2x fa-user-plus text-white"></i>
                    </div>
                    <h4 class="mb-3">Add User</h4>
                    <p class="m-0">To edit the current profile click here. It will direct profile edit page</p>
                    <a class="btn btn-lg btn-primary rounded-pill" href="{% url 'register' %}">
                        <i class="bi bi-arrow-right"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center">
                    <div class="service-icon mb-4">
                        <i class="fa fa-2x fa-user text-white"></i>
                    </div>
                    <h4 class="mb-3">Get User List</h4>
                    <p class="m-0">To see and update the user list click here</p>
                    <a class="btn btn-lg btn-primary rounded-pill" href="{% url 'user_list' %}">
                        <i class="bi bi-arrow-right"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center">
                    <div class="service-icon mb-4">
                        <i class="fa fa-2x fa-business-time text-white"></i>
                    </div>
                    <h4 class="mb-3"> Add Department</h4>
                    <p class="m-0">To add the department click here.</p>
                    <a class="btn btn-lg btn-primary rounded-pill" href="{% url 'feedback_list' %}">
                        <i class="bi bi-arrow-right"></i>
                    </a>
                </div>
            </div>
             <div class="col-lg-4 col-md-6">
                <div class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center">
                    <div class="service-icon mb-4">
                        <i class="fa fa-2x fa-comments text-white"></i>
                    </div>
                    <h4 class="mb-3">Department List</h4>
                    <p class="m-0">To check all department list click here</p>
                    <a class="btn btn-lg btn-primary rounded-pill" href="">
                        <i class="bi bi-arrow-right"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center">
                    <div class="service-icon mb-4">
                        <i class="fa fa-2x fa-building text-white"></i>
                    </div>
                    <h4 class="mb-3">Check Feedbacks</h4>
                    <p class="m-0">To check the feedbacks click here.</p>
                    <a class="btn btn-lg btn-primary rounded-pill" href="{% url 'check_feedback_list' %}">
                        <i class="bi bi-arrow-right"></i>
                    </a>
                </div>
            </div>
        {% else %}
        <div class="row g-5">
            <div class="col-lg-4 col-md-6">
                <div class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center">
                    <div class="service-icon mb-4">
                        <i class="fa fa-2x fa-user-md text-white"></i>
                    </div>
                    <h4 class="mb-3">Update Profile</h4>
                    <p class="m-0">To edit the current profile click here. It will direct profile edit page</p>
                    <a class="btn btn-lg btn-primary rounded-pill" href="">
                        <i class="bi bi-arrow-right"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center">
                    <div class="service-icon mb-4">
                        <i class="fa fa-2x fa-comments text-white"></i>
                    </div>
                    <h4 class="mb-3">Provide Feedback</h4>
                    <p class="m-0">To provide the feedback click here. It will open the feedback form</p>
                    <a id="myBtn" class="btn btn-lg btn-primary rounded-pill" data-bs-toggle="modal"
                       data-bs-target="#feedbackModal">
                        <i class="bi bi-arrow-right"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center">
                    <div class="service-icon mb-4">
                        <i class="fa fa-2x fa-list text-white"></i>
                    </div>
                    <h4 class="mb-3">My Recent Feedbacks</h4>
                    <p class="m-0">To see the recent feedbacks posted click here.</p>
                    <a class="btn btn-lg btn-primary rounded-pill" href="{% url 'feedback_list' %}">
                        <i class="bi bi-arrow-right"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center">
                    <div class="service-icon mb-4">
                        <i class="fa fa-2x fa-building text-white"></i>
                    </div>
                    <h4 class="mb-3">About</h4>
                    <p class="m-0">To learn about the portal click here.</p>
                    <a class="btn btn-lg btn-primary rounded-pill" href="">
                        <i class="bi bi-arrow-right"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center">
                    <div class="service-icon mb-4">
                        <i class="fa fa-2x fa-comments text-white"></i>
                    </div>
                    <h4 class="mb-3">Medicine & Pharmacy</h4>
                    <p class="m-0">Kasd dolor no lorem nonumy sit labore tempor at justo rebum rebum stet, justo elitr
                        dolor amet sit</p>
                    <a class="btn btn-lg btn-primary rounded-pill" href="">
                        <i class="bi bi-arrow-right"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center">
                    <div class="service-icon mb-4">
                        <i class="fa fa-2x fa-microscope text-white"></i>
                    </div>
                    <h4 class="mb-3">Blood Testing</h4>
                    <p class="m-0">Kasd dolor no lorem nonumy sit labore tempor at justo rebum rebum stet, justo elitr
                        dolor amet sit</p>
                    <a class="btn btn-lg btn-primary rounded-pill" href="">
                        <i class="bi bi-arrow-right"></i>
                    </a>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>
<!-- Services End -->


<!-- Trigger/Open The Modal -->
<!-- The Modal -->
<div class="modal fade" id="feedbackModal" tabindex="-1" role="dialog" aria-labelledby="feedbackModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="feedbackModalLabel">Add Feedback</h5>
            </div>
            <div class="modal-body">
                <form id="feedback-form" class="form" method="post">
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Department:</label>
                        <input type="text" class="form-control" id="recipient-name">
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Feedback:</label>
                        <textarea class="form-control" id="message-text" rows="10" cols="50"></textarea>
                    </div>
                    <div class="modal-footer">
                        <button id="closeModal" type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                        <button id="submitModal" type="button" onclick="eventpost()" class="btn btn-success">Submit
                        </button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
<!-- modal end-->


<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="lib/easing/easing.min.js"></script>
<script src="lib/waypoints/waypoints.min.js"></script>
<script src="lib/owlcarousel/owl.carousel.min.js"></script>
<script src="lib/tempusdominus/js/moment.min.js"></script>
<script src="lib/tempusdominus/js/moment-timezone.min.js"></script>
<script src="lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

<!-- Template Javascript -->
<script src="js/main.js"></script>

<script>



$(document).ready(function(){

  $('#feedbackModal').on('show.bs.modal', function (event) {
  var button = $(event.relatedTarget) // Button that triggered the modal
  var recipient = button.data('whatever') // Extract info from data-* attributes
  // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
  // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
  var modal = $(this)
  modal.find('.modal-title').text('FEEDBACK FORM')
  modal.find('.modal-body input').val(recipient)
  });
  //close the modal
  $("#closeModal").click(function(){
  $("#feedbackModal").modal('hide');
  });
   //submit data
   var id=$("#recipient-name").val();
    var feedback = $("#feedback-form");
   console.log(feedback);
      e.preventDefault();

   });


function eventpost()
{
 var id=$("#recipient-name").val();
 var test=$("#message-text").val();
 var data =JSON.stringify({"department": id, "feedback": test});
 var csrftoken = '{{ csrf_token }}'

$.ajaxSetup({
  crossDomain: false,
  beforeSend: function(xhr, settings) {
      xhr.setRequestHeader("X-CSRFToken", csrftoken)
  }
});
   $.ajax(
        {
            url:'feedback-post',
            type:'POST',
            data: data,
            success: function(data){
                 $("#feedbackModal").modal('hide');
                 alert('successfully submitted');

            }
        }
      );
}



</script>

{% endblock content %}
